<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asuka.androidopensourcelibrarystudydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUN" />

    <application
        android:name=".AppMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidOpenSourceLibraryStudyDemo">
        <activity android:name=".view.activity.MyMatisseActivity"></activity>
        <activity android:name=".view.activity.ObjectBoxActivity" />
        <activity android:name=".view.activity.KotlinActivity" />
        <activity android:name=".view.activity.ViewPager2Activity" />
        <activity android:name=".view.activity.MMKVActivity" />
        <activity android:name=".view.activity.MulticastSocketActivity" />
        <activity android:name=".view.activity.NettyActivity" />
        <activity android:name=".view.activity.AndroidAsyncActivity" />
        <activity android:name=".view.activity.CameraViewActivity" />
        <activity android:name=".view.activity.OkHttpActivity" />
        <activity android:name=".view.activity.RetrofitActivity" />
        <activity android:name=".view.activity.RxjavaActivity" />
        <activity android:name=".view.activity.RetrofitRxjavaActivity" />
        <activity android:name=".view.activity.ViewBindingActivity" />
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>